<launch>
    <arg name="_device_file" default="/dev/ttyACM0" />
    <arg name="_cmd_vel_topic" default="turtlebot_follower/cmd_vel" />
    <param name="device_file" value="$(arg _device_file)" />
    <param name="cmd_vel_topic" value="$(arg _cmd_vel_topic)" />
    <node name="base_controller_node" pkg="talos_base_controller" type="base_controller_node" args="$(arg _device_file)"/>
</launch>
    
