<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="talos">

  <!-- Base Plate and Spokes -->

<!-- Refactored already to the new .urdf.xacro, this code until ending specified is DEPRECATED
  <link name="horizontal_base_plate">
  	<visual>
		<geometry>
			<box size="0.40 0.20 0.03"/>
		</geometry>
		<origin rpy="0 0 1.57" xyz="0 0 0"/>
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>
  </link>

  <joint name="base_plate_to_base_bar" type="fixed">
  	<parent link="horizontal_base_plate"/>
	<child link="horizontal_base_plate_bar"/>
	<origin xyz="0.1 0 0" rpy="0 0 0"/>
  </joint>

  <link name="horizontal_base_plate_bar">
    <visual>
	<geometry>
		<box size="0.03 0.61905 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

  <link name="lwheel_spoke">
	<visual>
		<geometry>
			<cylinder length="0.07" radius="0.015"/>	
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>
  </link>

  <link name="rwheel_spoke">
	<visual>
		<geometry>
			<cylinder length="0.07" radius="0.015"/>	
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>
  </link>

  <joint name="base_plate_to_lwheel_spoke" type="fixed">
	<parent link="horizontal_base_plate"/>
	<child link="lwheel_spoke"/>
	<origin rpy="1.57 0 0" xyz="0 -0.235 0"/>
  </joint>

<joint name="base_plate_to_rwheel_spoke" type="fixed">
	<parent link="horizontal_base_plate"/>
	<child link="rwheel_spoke"/>
	<origin rpy="1.57 0 0" xyz="0 0.235 0"/>
</joint>


  <link name="lwheel">
	<visual>
		<geometry>
			<cylinder length="0.01" radius="0.0761"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="black">
			<color rgba="0 0 0 1"/>
		</material>
	</visual>
  </link>

  <link name="rwheel">
	<visual>
		<geometry>
			<cylinder length="0.01" radius="0.0761"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="black">
			<color rgba="0 0 0 1"/>
		</material>
	</visual>
  </link>

  <joint name="lwheel_spoke_to_lwheel" type="fixed">
	<parent link="lwheel_spoke"/>
	<child link="lwheel"/>
	<origin rpy="0 0 0" xyz="0 0 0.04"/>
  </joint>

  <joint name="rwheel_spoke_to_rwheel" type="fixed">
	<parent link="rwheel_spoke"/>
	<child link="rwheel"/>
	<origin rpy="0 0 0" xyz="0 0 -0.04"/>
  </joint>

  <link name="lwheel_bottom_bar">
	<visual>
	<geometry>
		<box size="0.03 0.61905 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

 <link name="rwheel_bottom_bar">
	<visual>
	<geometry>
		<box size="0.03 0.61905 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

 <joint name="base_plate_bar_to_lwheel_bottom_bar" type="fixed">
	<parent link="horizontal_base_plate_bar"/>
	<child link="lwheel_bottom_bar"/>
	<origin rpy="0 0 1.57" xyz="-0.295 -0.31 0"/>
  </joint>

 <joint name="base_plate_bar_to_rwheel_bottom_bar" type="fixed">
	<parent link="horizontal_base_plate_bar"/>
	<child link="rwheel_bottom_bar"/>
	<origin rpy="0 0 1.57" xyz="-0.295 0.31 0"/>
  </joint>

  <link name="bottom_bar_opposite_from_wheels">
	<visual>
	<geometry>
		<box size="0.03 0.61905 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="0 0 0 1"/>
	</material>
    </visual>
  </link>
 
  <joint name="rwheel_bottom_bar_to_opposite_bottom_bar" type="fixed">
	<parent link="rwheel_bottom_bar"/>
	<child link="bottom_bar_opposite_from_wheels"/>
	<origin rpy="0 0 1.57" xyz="-0.295 0.295 0"/>
  </joint>

  <joint name="lwheel_bottom_bar_to_opposite_bottom_bar" type="fixed">
  	<parent link="lwheel_bottom_bar"/>
	<child link="bottom_bar_opposite_from_wheels"/>
	<origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="opposite_vertical_rwheel_bar">
	<visual>
	<geometry>
		<box size="0.03 0.32876 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

  <joint name="rwheel_bottom_bar_to_ov_rwheel_bar" type="fixed">
  	<parent link="rwheel_bottom_bar"/>
	<child link="opposite_vertical_rwheel_bar"/>
	<origin rpy="1.57 0 0" xyz="0 0.295 0.16438"/>
  </joint>

  <link name="opposite_vertical_lwheel_bar">
	<visual>
	<geometry>
		<box size="0.03 0.32876 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

<joint name="lwheel_bottom_bar_to_ov_lwheel_bar" type="fixed">
  	<parent link="lwheel_bottom_bar"/>
	<child link="opposite_vertical_lwheel_bar"/>
	<origin rpy="1.57 0 0" xyz="0 0.295 0.16438"/>
  </joint>

<link name="vertical_lwheel_bar">
	<visual>
	<geometry>
		<box size="0.03 0.32876 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

<joint name="lwheel_bottom_bar_to_v_lwheel_bar" type="fixed">
  	<parent link="lwheel_bottom_bar"/>
	<child link="vertical_lwheel_bar"/>
	<origin rpy="1.57 0 0" xyz="0 -0.295 0.16438"/>
  </joint>


<link name="vertical_rwheel_bar">
	<visual>
	<geometry>
		<box size="0.03 0.32876 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

<joint name="lwheel_bottom_bar_to_v_rwheel_bar" type="fixed">
  	<parent link="rwheel_bottom_bar"/>
	<child link="vertical_rwheel_bar"/>
	<origin rpy="1.57 0 0" xyz="0 -0.295 0.16438"/>
  </joint>

<link name="top_plate">
	<visual>
	<geometry>
		<box size="0.64905 0.61905 0.03"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

<joint name="v_rwheel_bar_to_top_plate" type="fixed">
  	<parent link="vertical_rwheel_bar"/>
	<child link="top_plate"/>
	<origin rpy="1.57 0 0" xyz="-0.31 0.16438 -0.294525"/>
  </joint>

<joint name="v_lwheel_bar_to_top_plate" type="fixed">
  	<parent link="vertical_lwheel_bar"/>
	<child link="top_plate"/>
	<origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>


<joint name="opposite__vertical_lwheel_bar_to_top_plate" type="fixed">
  	<parent link="opposite_vertical_lwheel_bar"/>
	<child link="top_plate"/>
	<origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

<joint name="opposite__vertical_rwheel_bar_to_top_plate" type="fixed">
  	<parent link="opposite_vertical_rwheel_bar"/>
	<child link="top_plate"/>
	<origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

<link name="right_castor_spoke">
	<visual>
		<geometry>
			<cylinder length="0.07" radius="0.015"/>	
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>
  </link>

<link name="left_castor_spoke">
	<visual>
		<geometry>
			<cylinder length="0.07" radius="0.015"/>	
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>
  </link>

<joint name="rwheel_bottom_bar_to_rwheel_castor_spoke" type="fixed">
  	<parent link="rwheel_bottom_bar"/>
	<child link="right_castor_spoke"/>
	<origin rpy="0 1.57 0" xyz="-0.035 0.2 0"/>
  </joint>

<joint name="lwheel_bottom_bar_to_lwheel_castor_spoke" type="fixed">
  	<parent link="lwheel_bottom_bar"/>
	<child link="left_castor_spoke"/>
	<origin rpy="0 1.57 0" xyz="0.035 0.2 0"/>
  </joint>

<link name="right_castor_wheel">
	<visual>
		<geometry>
			<cylinder length="0.01" radius="0.0761"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="black">
			<color rgba="0 0 0 1"/>
		</material>
	</visual>
  </link>

<link name="left_castor_wheel">
	<visual>
		<geometry>
			<cylinder length="0.01" radius="0.0761"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="black">
			<color rgba="0 0 0 1"/>
		</material>
	</visual>
  </link>

<joint name="right_castor_spoke_to_right_castor_wheel" type="fixed">
  	<parent link="right_castor_spoke"/>
	<child link="right_castor_wheel"/>
	<origin rpy="0 0 0" xyz="0 0 -0.03805"/>
  </joint>

<joint name="left_castor_spoke_to_left_castor_wheel" type="fixed">
  	<parent link="left_castor_spoke"/>
	<child link="left_castor_wheel"/>
	<origin rpy="0 0 0" xyz="0 0 0.03805"/>
  </joint>

<link name="rotational_base_plate">
	<visual>
		<geometry>
			<cylinder length="0.01" radius="0.15"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="black">
			<color rgba="0 0 0 1"/>
		</material>
	</visual>
  </link>

<joint name="top_plate_to_rotational_base" type="fixed">
  	<parent link="top_plate"/>
	<child link="rotational_base_plate"/>
	<origin rpy="0 0 0" xyz="0 0 -0.015"/>
</joint>

<link name="top_rotating_plate">
	<visual>
		<geometry>
			<cylinder length="0.01" radius="0.15"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<material name="black">
			<color rgba="1 0 0 -0.015"/>
		</material>
	</visual>
  </link>

<joint name="rotational_base_connection" type="fixed">
  	<parent link="rotational_base_plate"/>
	<child link="top_rotating_plate"/>
	<origin rpy="0 0 0" xyz="0 0 0"/>
</joint>

  <link name="body">
	<visual>
	<geometry>
		<box size="0.4 0.4 1.0"/>
	</geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
    </visual>
  </link>

<joint name="top_rotating_plate_to_body" type="fixed">
  	<parent link="top_rotating_plate"/>
	<child link="body"/>
	<origin rpy="0 0 0" xyz="0 0 -0.5"/>
</joint>

 End of refactored things in the new .urdf.xacro (ABOVE IS DEPRECATED)-->

<!-- !!!!!!!!!!!!!!!!!!!!!~~~~~~~Left Arm~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Authors: Devon Ash, Jordan Balanko -->
<!-- Maintainer: noobaca2@gmail.com -->

 <link name="left_shoulder">
	
	<!-- TODO: Jordan start -->
	<!-- TODO Jordan: Please fill in the required values specified by "0" or near approximations -->
	<inertial>
		<mass value="0" />
		<origin xyz="0 0 0" />
		<inertia ixx="0" ixy="0" ixz="0"
			  iyy="0" iyz="0"
			  izz="0" />
	</inertial>
        <!-- TODO: Jordan end -->

        <!-- TODO: Someone? Not sure how these are done yet. -->
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0" />
		<geometry>
		  <!-- <mesh filename="package://pr2_description/meshes/upper_arm_v0/elbow_flex.stl" /> -->
		</geometry>
	</collision>

	<visual>

		<geometry>
			<box size="0.2 0.1 0.22"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<!-- TODO: Add meshes -->
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>

</link>


<joint name="body_to_left_shoulder" type="fixed">

	<!-- Note: Crude approximation of physical robot -->
  	<parent link="body"/>
	<child link="left_shoulder"/>
	<origin rpy="0 0 1.57" xyz="-0.25 -0.1 -0.39"/>


 	<!-- TODO Jordan Start: -->
        <!-- TODO Jordan: Please fill in the required values specified by "?" or near approximations -->
	<!-- Note: Code template taken from PR2_upper_arm.urdf for templating -->
	<!-- Doc: axis of revolution -->
	<axis xyz="0 1 0" />

	<!-- TODO Jordan: lower rotation degree w.r.t specified axis, same thing for upper. Effort is max force in newtons. Velocity is max velocity of joint. -->
	<limit lower="?" upper="?" effort="?" velocity="${VELOCITY_LIMIT_SCALE*5.5}" /> 

        <!-- Note: PR2 Has safety controller, not sure what it's for yet or what the values do-->
	<!-- <safety_controller k_position="100" k_velocity="3" soft_lower_limit="${-2.3213+0.2}" soft_upper_limit="${0.00-0.15}" /> -->

        <!-- Note: Jordan, do you know what this could be? -->
	<calibration falling="${-1.1606 + cal_r_elbow_flex_flag}"/>

        <!-- TODO: Jordan do you know what goes here? I'm not sure-->
	<dynamics damping="?" />
        <!-- TODO: Jordan end: -->

</joint>


<link name="left_upper_arm">

	<!-- TODO: Jordan start -->
	<!-- TODO Jordan: Please fill in the required values specified by "0" or near approximations -->
	<inertial>
		<mass value="0" />
		<origin xyz="0 0 0" />
		<inertia ixx="0" ixy="0" ixz="0"
			  iyy="0" iyz="0"
			  izz="0" />
	</inertial>
        <!-- TODO: Jordan end -->

        <!-- TODO: Someone? Not sure how these are done yet. -->
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0" />
		<geometry>
		  <!-- <mesh filename="package://pr2_description/meshes/upper_arm_v0/elbow_flex.stl" /> -->
		</geometry>
	</collision>

	<visual>
		<geometry>
			<box size="0.47 0.1 0.22"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	
		<!-- TODO: Add meshes -->
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>


</link>

<joint name="shoulder_to_upper_arm" type="fixed">

        <!-- Note: Crude approximation of the joint, this is not the exact connecting joint location -->
  	<parent link="left_shoulder"/>
	<child link="left_upper_arm"/>
	<origin rpy="0 0 1.57" xyz="0 0.235 0"/>

	<!-- Note: Code template taken from PR2_upper_arm.urdf for templating -->
	<!-- Doc: axis of revolution -->
	<!-- TODO Jordan Start -->
	<!-- TODO Jordan: Please fill in the required values specified by "0" or near approximations -->
	<axis xyz="0 1 0" />
	<!-- TODO Jordan: lower rotation degree w.r.t specified axis, same thing for upper. Effort is max force in newtons. Velocity is max velocity of joint. -->
	<limit lower="?" upper="?" effort="?" velocity="?" /> 

        <!-- Note: PR2 Has safety controller, not sure what it's for yet or what the values do-->
	<!-- <safety_controller k_position="100" k_velocity="3" soft_lower_limit="${-2.3213+0.2}" soft_upper_limit="${0.00-0.15}" /> -->

        <!-- Note: Jordan, do you know what this could be? -->
	<calibration falling="0"/>

        <!-- TODO: Jordan -->
	<dynamics damping="?" />
        <!-- TODO: Jordan end -->

</joint>


 <link name="left_elbow">

  
        <!-- TODO: Jordan start -->
	<!-- TODO Jordan: Please fill in the required values specified by "0" or near approximations -->
	<inertial>
		<mass value="0" />
		<origin xyz="0 0 0" />
		<inertia ixx="0" ixy="0" ixz="0"
			  iyy="0" iyz="0"
			  izz="0" />
	</inertial>
        <!-- TODO: Jordan end -->

        <!-- TODO: Someone? Not sure how these are done yet. -->
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0" />
		<geometry>
		  <!-- <mesh filename="package://pr2_description/meshes/upper_arm_v0/elbow_flex.stl" /> -->
		</geometry>
	</collision>
      

        <!-- Note: Crude approximation of the model, this is not the exact connecting joint location -->
	<visual>
		<geometry>
			<box size="0.18 0.1 0.22"/>
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<!-- TODO: Add meshes -->
		<material name="black"> 
			<color rgba="0 0 0 1"/>
		</material> 
	</visual>


  </link>

<joint name="upper_arm_to_elbow" type="revolute">

	<!-- Note: Crude approximation of the joint, this is not the exact connecting joint location -->
	<parent link="left_upper_arm"/>
	<child link="left_elbow"/>
	<origin rpy="0 0 0" xyz="0.325 0 0"/>

        <!-- TODO Jordan Start: -->
        <!-- TODO Jordan: Please fill in the required values specified by "?" or near approximations -->
	<!-- Note: Code template taken from PR2_upper_arm.urdf for templating -->
	<!-- Doc: axis of revolution -->
	<axis xyz="0 1 0" />

	<!-- TODO Jordan: lower rotation degree w.r.t specified axis, same thing for upper. Effort is max force in newtons. Velocity is max velocity of joint. -->
	<limit lower="?" upper="?" effort="?" velocity="${VELOCITY_LIMIT_SCALE*5.5}" /> 

        <!-- Note: PR2 Has safety controller, not sure what it's for yet or what the values do-->
	<!-- <safety_controller k_position="100" k_velocity="3" soft_lower_limit="${-2.3213+0.2}" soft_upper_limit="${0.00-0.15}" /> -->

        <!-- Note: Jordan, do you know what this could be? -->
	<calibration falling="${-1.1606 + cal_r_elbow_flex_flag}"/>

        <!-- TODO: Jordan do you know what goes here? I'm not sure-->
	<dynamics damping="?" />
        <!-- TODO: Jordan end: -->

</joint>

</robot>

















