<launch>
	<node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
		<param name="lm" value="$(find audio)/8986.lm" />
		<param name="dict" value="$(find audio)/8986.dic" />
	</node>
	<node name="follow_me_cmds" pkg="audio" type="follow_me_cmds.py" output="screen"/>
</launch>
