<?xml version="1.0" ?>
<robot  
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="talos">

  <include filename="$(find talos_description)/urdf/base/talos_base_urdf.xacro" />

  <!-- arm sections -->
  <!-- 
  z : height
  y : length
  x : width
  -->
  <!-- section a -->
  <property name="section_a_x" value="0.1"/>
  <property name="section_a_y" value="0.15"/>
  <property name="section_a_z" value="0.4"/>
  <!-- section b -->
  <property name="section_b_x" value="0.1"/>
  <property name="section_b_y" value="0.15"/>
  <property name="section_b_z" value="0.4"/>
  <!-- section c -->
  <property name="section_c_x" value="0.1"/>
  <property name="section_c_y" value="0.15"/>
  <property name="section_c_z" value="0.4"/>

  <!-- lazy susan -->
  <property name="lazy_susan_radius" value="0.3"/>
  <property name="lazy_susan_height" value="0.01"/>

  <!-- end affector -->

  <xacro:macro name="talos_arm_v0" params="name">

    <link name="${name}_link">
    </link>

  </xacro:macro>
  
  <!-- lazy susan -->
  <xacro:macro name="lazy_susan" params="parent">
    <link name="susan">
      <visual>
        <geometry>
          <cylinder radius="${lazy_susan_radius}" length="${lazy_susan_height}" />
        </geometry>
        <material name="white" />
      </visual>
    </link>

</robot>
